body{
	font-family: Century Gothic;
	background-color: #91C7B1;
}
.container{
	border-radius: 4px;
	background-color: #91C7B1;
	padding: 20px;
}
h1{
	color: #fff;
	text-align: center;
	font-weight: 250;
}
input[type="text"], textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid #fff;
	border-radius: 4px solid #fff;
	margin-top: 6px;
	margin-bottom: 16px;
	background-color: #91C7B1;
	box-sizing: border-box;
	color: #fff;
}

input[type="text"]:focus{
	background-color: #54A887;
	box-shadow: 0 0 0 2px;
	transition: 0.6s all;
}

textarea:focus{
	background-color: #54A887;
	box-shadow: 0 0 0 2px;
	transition: 0.6s all;
	}
label{
	color: #fff;
}
input[type="submit"]{
	background-color: #91C7B1;
	color: #fff;
	padding: 15px 60px;
	border-radius: 4px solid #fff;
	border:2px solid #fff;
	cursor: pointer;
}
input[type="submit"]:hover{
	background-color: #54A887;
	transition: 0.6s all;
}
br {
	color: #fff;
	text-align: center;
	font-weight: 250;
}

input[type="email"], textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid #fff;
	border-radius: 4px solid #fff;
	margin-top: 6px;
	margin-bottom: 16px;
	background-color: #91C7B1;
	box-sizing: border-box;
	color: #fff;
}
input[type="email"]:hover{
	background-color: #54A887;
	transition: 0.6s all;
}