*{
	margin: 0;
	padding :0;
	font-family: Century Gothic;
}

header{
	background-color: #91C7B1;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.wrapper {
	width: 100%;
	background-color: #91C7B1;
}

.img-info {
	width: 100%;
}
.img-info h2{
	padding: 30px 30px 20px;
	font-family: Century Gothic;
	font-size: 50px;
	color: #fff;
	line-height: 44px;
}

.img-info p {
	padding: 0px 30px 20px;
	font-family: Century Gothic;
	font-size: 16px;
	color: #fff;
	line-height: 24px;
}

.img-me{
	width: 20%
	padding: 40px;
	float: right;
}



